* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Montserrat';
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.header {
  /* background-image: linear-gradient(45deg, #0a3d62, #079992); */
  background-color: #fff;
  min-height: 100vh;
  position: relative;
  background-image: url('../assets/bg_tiny.png');
  background-size: 100% auto;
}

.header__heading {
  display: inline-block;
  color: #0a3d62;
  font-size: 10vw;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  left: 10vw;
  top: 12vh;
  margin: 0;
}

.header__heading:before {
  content: '';
  position: absolute;
  display: block;
  top: 40%;
  left: 10%;
  bottom: 25%;
  right: -5%;
  background-color: #079992;
  z-index: -1;
}

.header__text {
  font-size: 3vw;
  position: relative;
  left: 12vw;
  top: 15vh;
  margin: 0;
  line-height: 1.4;
  font-weight: 300;
}

.header__accent--blue {
  color: #0a3d62; 
}

.header__accent--green {
  color: #079992; 
}

.header__link {
  position: relative;
  left: 12vw;
  top: 23vh;
}

.button {
  position: relative;
  margin: 0;
  padding: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: stretch;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.button:hover {
  margin-left: 8px;
}

.button__text {
  font-size: 1.8vw;
  line-height: 1.4;
  color: #fff;
  font-family: 'Montserrat';
  padding: 12px 24px;
  background: #079992;
}

.button__icon {
  background: #046660;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}



